version: '3.8'
services:
  postgres:
    image: postgres:16-alpine
    container_name: wa-project-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: wa_project_db
    ports:
      - '5434:5432'  
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
